export(Q_iid)
export(Q_smoothed)
export(R_estep)
export(agg)
export(bayesianDynamicFilter)
export(buildPrior)
export(buildRoutingMat)
export(buildRoutingMatrix)
export(buildStarMat)
export(calcN)
export(calibration_ssm)
export(decomposeA)
export(diag_ind)
export(diag_mat)
export(getActive)
export(getSrcDstIndices)
export(grad_iid)
export(grad_smoothed)
export(gravity)
export(gravity.fit)
export(ipfp)
export(llCalibration)
export(locally_iid_EM)
export(m_estep)
export(mle_filter)
export(move_step)
export(phi_init)
export(smoothed_EM)
export(strphour)
export(thin)
export(tomogravity)
export(tomogravity.fit)
export(twMCMC)
export(vardi.algorithm)
export(vardi.compute.BS)
export(vardi.iteration)
importFrom(KFAS,KFS)
importFrom(KFAS,SSMcustom)
importFrom(KFAS,SSModel)
importFrom(Rglpk,Rglpk_solve_LP)
importFrom(coda,mcmc)
importFrom(igraph,get.shortest.paths)
importFrom(igraph,graph.adjacency)
importFrom(limSolve,lsei)
importFrom(limSolve,xranges)
importFrom(limSolve,xsample)
importFrom(plyr,llply)
useDynLib(networkTomography)
