export(agg)
export(buildRoutingMat)
export(buildStarMat)
export(diag_ind)
export(diag_mat)
export(getActive)
export(ipfp)
export(phi_init)
export(strphour)
export(thin)
export(twMCMC)
export(vardi.algorithm)
export(vardi.compute.BS)
export(vardi.iteration)
useDynLib(networkTomography)
