export(agg)
export(buildRoutingMat)
export(buildStarMat)
export(diag_ind)
export(diag_mat)
export(getActive)
export(grad_iid)
export(grad_smoothed)
export(ipfp)
export(locally_iid_EM)
export(m_estep)
export(phi_init)
export(Q_iid)
export(Q_smoothed)
export(R_estep)
export(smoothed_EM)
export(strphour)
export(thin)
export(twMCMC)
export(vardi.algorithm)
export(vardi.compute.BS)
export(vardi.iteration)
useDynLib(networkTomography)
